.landing-container {
    position: relative;
    width: 100%;
    height: 100vh;
    /* height: calc(100vh - 50px); 전체 높이에서 40px 뺀 값 */
    overflow: hidden;
  }
  
  .background-video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 비디오가 컨테이너를 꽉 채우도록 설정 */
    /* filter: blur(4px); */
    filter: brightness(70%);
  }

.overlay-text{
  position: absolute;
  top: 60%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 4rem; /* 글씨 크기 조정 */
  font-weight: bolder;
  font-family: Bobby_Rough_Soft;
}
.overlay-text-sub{
  position: absolute;
  top: 75%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 4rem; /* 글씨 크기 조정 */
  font-weight: bolder;
  font-family: Bobby_Rough_Soft;
}

  .overlay-text1 {
    left: 30%;
  }
  .overlay-text2 {
    left: 50%;
  }
  .overlay-text3 {
    left: 70%;
  }
  